body {
    background: rgba(20, 14, 23, 1);
    margin: 64px 20px 220px;
}

* {
    font-family: 'Manrope', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}